.hero{
    position: relative;
    padding: 0 20px 0 20px;
    &__content{
        padding: 260px 0 260px 0;
        text-align: center;
    }
    &__text{
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        margin-top: 40px;
    }
    &__video-slide{
        position: absolute;
        z-index: -2;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    &__video-slide.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 2s ease;
        transition-property: clip-path;
    }
    &__slide-navigation{
        max-width: 120px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
    }
    &__slide-btn{
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
        transition: 0.3s ease;
    }
    &__slide-btn:hover{
        transform: scale(1.2);
    }
    &__slide-btn.active{
        background: $main-color;
    }
}

.hero::before{
    position: absolute;
    z-index: -1;
    content: '';
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    a{
        color: #fff;
        font-size: 1.6em;
    }
    a:hover{
        color: $main-color;
    }
    li:hover{
        transform: scale(1.3);
        transition: all 0.5s;
    }
    li:not(li:last-child){
        margin-right: 20px;
    }
}

.title{
    color: #FFF;
    font-size: 42px;
    font-weight: 900;
}

@media (max-width: 425px) {
    .hero{
        &__content{
            padding: 200px 0 165px 0;
        }
        &__text{
            font-size: 15px;
        }
    }
}

