.partners{
    padding: 90px 20px 0;
    text-align: center;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        max-width: 1190px;
        margin: 30px auto 0;
    }
    &__logo{
        max-width: 31%;
        aspect-ratio: 3/2;
        object-fit: contain;
        filter: drop-shadow(0 0 15px #4986C7);
        cursor: pointer;
    }
    &__logo:hover{
        filter: drop-shadow(0 0 35px #4986C7);
        transition: all 0.3s ease-in-out;
    }
    &__preview{
        position: fixed;
        z-index: 20;
        top:0; 
        left:0;
        min-height: 100vh;
        width: 100%;
        background: rgba(0,0,0,.8);
        display: none;
        align-items: center;
        justify-content: center;
    }
    &__previewcard{
        display: none;
        text-align: center;
        padding:2rem;
        background: #fff;
        position: relative;
        margin:2rem;
        max-width: 650px;
        max-height: 400px;
        .fa-times{
            position: absolute;
            top:1rem; 
            right:1rem;
            cursor: pointer;
            color:#444;
            font-size: 2rem;
        }
        .fa-times:hover{
            transition: all 0.5s;
            transform: rotate(180deg);
            color: $main-color;
        }
    }
    &__previewcard.active{
        display: flex;
        justify-content: space-between;
    }
    &__preview-logo{
        max-width: 31%;
        aspect-ratio: 3/2;
        object-fit: contain;
    }
    &__preview-content{
        max-width: 362px;
    }
    &__text{
        color: #000;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
    }
}

@media(max-width: 1170px) {
    .partners{
        &__previewcard {
            padding: 1.5rem;
            margin: 1rem;
            max-width: 620px;
            height: 295px;
            max-height: 295px;
            .fa-times{
                top: 0.5rem;
                right: 0.7rem;
                font-size: 1.5rem;
            }
        }
        &__text {
            font-size: 16px;
        }
        &__preview-content{
            .subtitle{
                font-size: 30px;
                margin-bottom: 25px;
            }
        }
    }
}


@media(max-width: 768px) {
    .partners{
        &__previewcard {
            padding: 1.5rem;
            margin: 1rem;
            max-width: 520px;
            height: 275px;
            max-height: 275px;
            .fa-times{
                top: 0.5rem;
                right: 0.7rem;
                font-size: 1.5rem;
            }
        }
        &__text{
            max-width: 307px;
            font-size: 15px;
        }
    }
}

@media(max-width: 552px){
    .partners{
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
        &__logo{
            max-width: 55%;
            max-height: 150px;
        }
        &__preview-logo{
            display: none;
        }
    }
}

@media(max-width: 425px) {
    .partners{
        padding: 60px 20px 0 20px;
    }
}

@media(max-width: 416px) {
    .partners{
        &__logo{
            max-width: 60%;
        }
    }
}